<div id="<%= dom_id grouping %>">
  <h2><%= grouping.name %></h2>
    
  <p style="margin-left: 1em">
    <strong>Associated products:</strong>
    <%= grouping.products.map { |product| product.name } %>
  </p>
</div>
