<p style="color: green"><%= notice %></p>

<h1>Groupings (<%= link_to "New grouping", new_grouping_path %>)</h1>

<div id="groupings">
  <% @groupings.each do |grouping| %>
    <hr />
    <%= link_to "Show this grouping", grouping %>
    <%= render grouping %>
  <% end %>
</div>


