<div id="<%= dom_id tag %>">
  <h2><%= tag.name %></h2>
    
  <p style="margin-left: 1em">
    <strong>Associated products:</strong>
    <%= tag.products.map { |product| product.name } %>
  </p>
</div>
