<p style="color: green"><%= notice %></p>

<h1>Tags (<%= link_to "New tag", new_tag_path %>)</h1>

<div id="groupings">
  <% @tags.each do |tag| %>
    <hr />
    <%= link_to "Show this tag", tag %>
    <%= render tag %>
  <% end %>
</div>