<div id="<%= dom_id category %>">
  <h2><%= category.name %></h2>
    
  <p style="margin-left: 1em">
    <strong>Associated products:</strong>
    <%= category.products.map { |product| product.name } %>
  </p>

</div>
